.footer-left {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}
.logos {
	display: flex;
	align-items: center;
}
.logo1 {
	height: 31px;
    width: 31px;
}
.footer-left {
	height: 29.97px;
    width: 142.35px;
}
.phonenumber {
	width: 325px;
	height: 48px;
}