
.header {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
}

.header-left {
	display: flex;
	justify-content: space-between;

	.logo {
		width: 30px;
		height: 30px;
	}
	.logo2 {
		width: 143.12px;
		height: 28.97px;
	}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.header-right {
	display: flex;
	overflow: hidden;

	.navigation {
		margin: auto;
		display: flex;
		justify-content: flex-end;

		ul {
			display: flex;

			li {
				a {
					color: #000;
					padding: 0 14px;
				}
			}
		}

		ul.main-menu {
			display: flex;
			color: black;
			justify-content: flex-end;
		}
	}

}

.header-right {
	.button1 {
		background-color: #fff;
		color: #173a56; /* need to check why this is not working- because you have to give it to <a> which is inside button */
		border-radius: initial;
		margin: 5px;
		width: 80px;
		height: 30px;
		border: 1px solid #bcd0e5; // You have to give border like this.

		a {
			color: #173A56;
		}
	}

	.button2 {
		background-color: #ff9900;
		// border-color: #FFF; /* You should use three characters for color code when all characters are the same so instead of #FFFFFF use #FFF  */
		color: #FFF; /* need to check why this is not working- because you have to give it to <a> which is inside button  like I gave below*/
		border-radius: initial;
		margin: 5px;
		width: 80px;
		height: 30px;
		border: 1px solid #ff9900;

		a {
			color: #173a56;
		}

	}
}

.nav ul {
	color: #2f281e;
}
