.hero {
    display: flex;
}

.hero-left  {
    h1 {
        font-size: 44px;
    }
    p {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.hero-left button {
        background-color: #ff9900;		
		border-radius: initial;
		margin: 5px;
		width: 175px;
		height: 53px;
        border: 1px solid #ff9900;
    a {
        color: #fff;
    }
}

.cta {
    display: flex;
    align-items: center;
    a {
    color: #ff9900;
    }
}

hero-right {
    height: 494.83px;
    width: 604.35px;
}

.triangle-link-container {
    display: flex;
}